/* background */
$bgcrbody: #f2f2f2;

/* font */
$font-site: 'PT Sans', Arial, sans-serif;

$heading-weihgt: bold;
$heading-color: #000000;

$h1-mobile: 21px;
$h1-tablet: 30px;
$h1-dt: 30px;

$h2-mobile: 18px;
$h2-tablet: 21px;
$h2-dt: 21px;

$button: 21px;

$text-uppercase: 14px;

$text-lowercase-mobile: 14px;
$text-lowercase-tablet: 14px;
$text-lowercase-dt: 14px;

$arrow-menu-mobile: 14px;
$arrow-menu-tablet: 16px;
$arrow-menu-dt: 18px;

$header-text-mobile: 16px;
$header-text-tablet: 18px;
$header-text-dt: 24px;

$header-text-small-mobile: 0px;
$header-text-small-tablet: 14px;
$header-text-small-dt: 16px;

/* break points */
$mobile-width: 330px;
$tablet-width: 768px;
$dt-width: 1280px;

/* colors */
$main-color: #8d77d8;
$main-color--hover: #745cc1;
$main-color--down: #654abb;
$disabled-color: #e1e1e1;

$light-gray-color: #f2f2f2;
$strong-gray-color: #e1e1e1;
$ultra-gray-color: #c7c7c7;
$ultra-gray-color--down: #bbbbbb;
$most-gray-color: #7e7e7e;

/* paddings */

$side-padding-mobile: 20px;
$side-padding-tablet: 60px;
$side-padding-dt: 120px;

$main-nav-padding: 40px;

/* logo */

$logo-width: 136px;
$logo-height: 37px;

/* modal */

$modal-width-mobile: 330px;
$modal-width-tablet: 760px;
$modal-width-dt: 880px;

/* heights */

$page-footer-margin-height: 36px;

$footer-height-mobile: 58px;
$footer-height-tablet: 122px;
$footer-height-dt: 122px;

$main-nav-height: 56px;

$page-header-height-mobile: 65px;
$page-header-height-tablet: 76px;
$page-header-height-dt: 96px;

$page-header-height-inner: 20px;


