@font-face {
    font-weight: 400;
    font-family: 'PT Sans';
    font-style: normal;    
    font-display: swap;
    src: url(../fonts/ptsans.woff) format("woff"), url(../fonts/ptsans.woff2) format("woff2")
}


@font-face {
    font-weight: 700;
    font-family: 'PT Sans';
    font-style: normal;
    font-display: swap;
    src: url(../fonts/ptsansbold.woff) format("woff"), url(../fonts/ptsansbold.woff2) format("woff2")
}